<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Task: <input type="text" name="task">
                Due Date:<input type="text" name="due_date">Due date
                is completed: <input type="checkbox" name="is_completed">
                List: <select name="list">List -->
                    {% for list in todolists %}
                        <option value="{{ list.id }}">{{ list.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit" value="Create">Create</button>
            </form>

        </div>
    </main>

</body>
</html>
